form {
  display: flex;
  flex-direction: column;
  & div {
    width: 500px;
    max-width: 100%;
    display: flex;

    align-items: center;
    & input {
      all: unset;
      display: inline-flex;
      align-items: center;
      user-select: none;
      margin-left: 1rem;
    }
    & input::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #e6e6e6;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    input:checked::before {
      background-color: #ffd500;
    }
  }
}

.input {
  margin-bottom: 1rem ;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  outline: 1px solid #ffd500;
  & .item {
    width: 200%;
    font-size: 0.7rem;
    justify-content: center;
    padding: 10px;
    &:hover {
      cursor: pointer;
      background-color: #ffd500 !important;
    }
  }
}