.item {
  padding: 1rem;
  border: 1px solid #ffd500;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: start;
    & div {
      display: flex;
      justify-content: space-between;
      align-items: start;
      height: 20px;
      & img {
        height: 20px;
        margin-left: 0.5rem;
        opacity: 0.2;
        transition: all 0.1s ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);;
          opacity: 1;
        }
      }
    }
  }
  h4 {
    all: unset;
    font-weight: bold;
  }
  p {
    margin-bottom: 1rem;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
  }
  & div {

  }
}

.input {
  & input {
    all: unset;
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-left: 1rem;
  }
  & input::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #e6e6e6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  input:checked::before {
    background-color: #ffd500;
  }
}